@use 'normalize.css';

@use "variables" as *;
@use "mixins" as *;
@use "fonts" as *;


/* сбрасываю, то что может мешать */

*,
*::after,
*::before{
  // box-sizing: inherit;
  box-sizing: border-box;
  // outline: 4px solid red !important; // чтобы видеть что выходит за пределы
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,h2,h3,h4,h5,h6,
p,
ul,ol,li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a{
  text-decoration: none;
  /*чтобы наследовали цвет родителя*/
  color: inherit;

}

button {
    border: none;
    outline: none; /*убираю фокус*/
    background: none;
    appearance: none;
    color: inherit;

    border: solid 2px blue; /*чтобы увидеть кнопку*/
}


:root {
  // Light Theme Palette
  // --color-background-light: #c8fba1;
  // --color-text-primary-light: #212529;
  // --color-text-secondary-light: #495057;
  // --color-primary-light: #007bff;
  // --color-primary-light-invert: #ff8000;
  // --color-secondary-light: #6c757d;
  // --color-accent-light: #ffc107;
  // --color-surface-light: #f8f9fa;
  // --color-border-light: #dee2e6;

  --bg-dark: #030303;
  --dark-red: #710707;
  --font-gold: #9d8665;

  --links-dark: #000000;
  --links-light: #FFFFFF;
  --links-hover: #9D8665;
  --links-active: #7E6C51;
  --links-asset: #b3b3b3;
  --links-asset-hover: #989898;
  --progress-main: #c4c4c4;

  --font-family: "Roboto", sans-serif;

}

html {
  scroll-behavior: smooth;
  // box-sizing: border-box;
}

body {
  background-color: var(--links-light);
  font-family: $font-family-sans-Roboto;
  // font-family: $font-family-sans;
  color: var(--links-dark);
}
body.lock {
  overflow: hidden;
  padding-right: var(--scrollbar-width, 0);
}

/* === hidden === */
.visually-hidden {
  // position: absolute;
  // width: 1px;
  // height: 1px;
  // margin: -1px;
  // border: 0;
  // padding: 0;

  // white-space: nowrap;
  // clip-path: inset(100%);
  // clip: rect(0 0 0 0);
  // overflow: hidden;

  // outline: 0;
  // outline-offset: 0;

  // opacity: 0;
  // transition: opacity 0.4s ease;

  transform: translateX(-100%);
  transition: all 0.4s ease;

  // clip-path: inset(0 0 0 100%);
  // transition: clip-path 0.5s ease-out;
}


*.hidden {
    display: none !important;
  }



/***********************************/

.expClass.global { // повышаю специфичность чтобы перебить класс в scope
  color: green;
}

.textClass {
  text-decoration: line-through;
  color: blue;
}

.containerHtmlClassButton {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 15px;
  max-width: 200px;
  padding: 20px;
}

.lineHtml {
  max-width: 100%;
  height: 2px;
  background: #53679d;
  margin: 20px;
}

.redHtml {
  background-color: $danger-color;
}