$primary-color: #3490dc;
$secondary-color: #ffed4a;
$danger-color: #e3342f;

/***************************************  */

$color-accent: rgb(18 192 221);
$color-light: rgb(255 255 255);
$border-radius: 10px;
$width-line: 2px;
$tr: 0.3s;
$mobile-break-point: 500px;
