@use 'normalize.css';
@use 'variables' as *;
@use 'mixins' as *;
@use 'fonts' as *;

/* сбрасываю, то что может мешать */

*,
*::after,
*::before {
  // box-sizing: inherit;
  box-sizing: border-box;

  // outline: 4px solid red !important; // чтобы видеть что выходит за пределы
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  /* чтобы наследовали цвет родителя */
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  appearance: none;
  outline: none; /* убираю фокус */
  background: none;
  border: none;
  border: solid 2px blue; /* чтобы увидеть кнопку */
}

:root {
  // Light Theme Palette
  // --color-background-light: #c8fba1;
  // --color-text-primary-light: #212529;
  // --color-text-secondary-light: #495057;
  // --color-primary-light: #007bff;
  // --color-primary-light-invert: #ff8000;
  // --color-secondary-light: #6c757d;
  // --color-accent-light: #ffc107;
  // --color-surface-light: #f8f9fa;
  // --color-border-light: #dee2e6;

  // --bg-dark: #030303;
  // --dark-red: #710707;
  // --font-gold: #9d8665;

  // --links-hover: #9D8665;
  // --links-active: #7E6C51;
  // --links-asset: #b3b3b3;
  // --links-asset-hover: #989898;
  // --progress-main: #c4c4c4;

  --default-light: #fff;
  --default-dark: #000;
  --default-font-family-default: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box; // лучше повторю с более высокой специфичностью
  scroll-behavior: smooth;
}

body {
  font-family: var(--default-font-family);
  color: var(--default-dark);
  background-color: var(--default-light);
}

body.lock {
  padding-right: var(
    --scrollbar-width,
    0
  ); // 0 - значение по умолчанию, если переменная не определена

  overflow: hidden;
}

/* === hidden === */
// .visually-hidden {
//   // position: absolute;
//   // width: 1px;
//   // height: 1px;
//   // margin: -1px;
//   // border: 0;
//   // padding: 0;

//   // white-space: nowrap;
//   // clip-path: inset(100%);
//   // clip: rect(0 0 0 0);
//   // overflow: hidden;

//   // outline: 0;
//   // outline-offset: 0;

//   // opacity: 0;
//   // transition: opacity 0.4s ease;

//   transform: translateX(-100%);
//   transition: all 0.4s ease;

//   // clip-path: inset(0 0 0 100%);
//   // transition: clip-path 0.5s ease-out;
// }

*.hidden {
  display: none !important;
}

/**********************************  */

.exp-class.global {
  // повышаю специфичность чтобы перебить класс в scope
  color: green;
}

.test {
  position: absolute;

  // clip-path: inset(0 0 0 100%);
  // transition: clip-path 0.5s ease-out;
  display: flex;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  outline: 0;
  outline-offset: 0;
  border: 0;
  opacity: 0;

  // clip: rect(0 0 0 0);
  clip-path: inset(100%);
  transform: translateX(-100%);
  transition: opacity 0.4s ease;
  transition: all 0.4s ease;
}
